<!-- Toast.svelte -->

<script>
  import { toast } from 'store'

  $: $toast?.message && notify($toast)

  // Custom function to emit toast notifications
  function notify({message, type = 'primary', icon}) {
    const alert = Object.assign(document.createElement('sl-alert'), {
      type,
      closable: true,
      innerHTML: `
        ${icon ? `<sl-icon name="${icon}" slot="icon"></sl-icon>` : ''}
        ${message}
      `
    })

    alert.addEventListener('sl-hide', () => $toast.message = '')

    document.body.append(alert)
    return alert.toast()
  }
</script>