<!-- App.svelte -->

<script>
  import jsQR from 'jsqr'
  import { onMount } from 'svelte'
  import { toast } from 'store'
  import { is_url } from 'lib/utils'
  import Toast from 'components/Toast.svelte'

  const COLOR = '#e91e63'
  let canvas
  let ctx
  let video
  let error = false

  // Draw detection lines
  function draw_line(begin, end, color) {
    ctx.beginPath()
    ctx.moveTo(begin.x, begin.y)
    ctx.lineTo(end.x, end.y)
    ctx.lineWidth = 4
    ctx.strokeStyle = color
    ctx.stroke()
  }

  // Animation frame
  function tick() {
    if (video.readyState === video.HAVE_ENOUGH_DATA) {
      canvas.height = video.videoHeight;
      canvas.width = video.videoWidth;
      ctx.drawImage(video, 0, 0, canvas.width, canvas.height)
      let imageData = ctx.getImageData(0, 0, canvas.width, canvas.height)

      let code = jsQR(imageData.data, imageData.width, imageData.height, {
        inversionAttempts: 'dontInvert'
      })

      if (code) {
        let { location, data } = code
        draw_line(location.topLeftCorner, location.topRightCorner, COLOR)
        draw_line(location.topRightCorner, location.bottomRightCorner, COLOR)
        draw_line(location.bottomRightCorner, location.bottomLeftCorner, COLOR)
        draw_line(location.bottomLeftCorner, location.topLeftCorner, COLOR)
        if (data && !$toast?.message) {
          let type
          let icon
          if (is_url(data)) {
            const popup = window.open(data, '_blank')				
            try {
              popup.focus()
            } catch {
              data = `You are trying to open automatically:<br> 
                <a href="${data}" target="_blank">${data}</a><br> 
                Please, allow pop-ups and redirects!`
              type = 'warning'
              icon = 'exclamation-triangle'
            }
          }
          $toast = { message: data, type, icon }
        }
      }
    }
    requestAnimationFrame(tick)
  }

  onMount(() => ctx = canvas.getContext('2d'))

  // Get camera
  navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } })
  .then(stream => {
    video.srcObject = stream
    video.play()
    requestAnimationFrame(tick)
  })
  .catch(() => {
    error = true
    $toast = { message: 'Please, make sure your camera is enabled', 
      type: 'warning' }
  })
</script>


<main>
  <Toast/>

  {#if error}
    <img src="img/logo.svg" alt="Try again" on:click={() => location.reload()}>
  {:else}
    <canvas bind:this={canvas}/>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video bind:this={video} hidden/>
  {/if}
</main>


<style>
  main {
    width: inherit;
    height: inherit;
    display: grid;
    place-items: center;
  }

  img {
    width: 150px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  img:hover {
    transform: scale(.8);
  }
</style>